{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> {% block title %} {% endblock %}</title>
</head>

<style>
.bg-1 {
	background-color: #474e5d; 
	color: #ffffff;
}
.titolo{
	padding-top:20px;
	padding-bottom:20px;
}
</style>



<body>
 	<nav class="navbar navbar-inverse">
		<div class="container-fluid bg-1">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url "demo:login" %}">Progetto MIND</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="{% url "demo:home" %}">Home</a></li>
				<li><a href="#">Page 1</a></li>
				<li><a href="#">Page 2</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
					<li><p class="navbar-text">{{request.user.last_name}} {{request.user.first_name}}</p></li>
					<li><a href="{% url "demo:logout" %}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
				{% else %}
					<li><a href="{% url "demo:login" %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div id="content" class="container-fluidi titolo bg-1">{% block titolo %}Aggiungi Titolo {% endblock %}</div>
	<div id="content" class="container-fluid">{% block content %} {% endblock %}</div>
</body>
</html>
